venv-tina
back\website\__pycache__/*
/back/website/__pycache__/*
back/test/__pycache__/*
back/website/__pycache__/*
back\website\__pycache__/
/back/website/__pycache__/
back/test/__pycache__/
back/website/__pycache__/
*.cpython-310.pyc
back/website/api_key.py
/back/instance
/back/website/__pycache__
*.pdf