venv-tina
back\website\__pycache__/*
/back/website/__pycache__/*
back/test/__pycache__/*
back/website/__pycache__/*
back\website\__pycache__/
/back/website/__pycache__/
back/test/__pycache__/
back/website/__pycache__/
*.pyc
/back/website/__pycache__
*.pdf
/back/website/__pycache__
*.pyc
/back/website/__pycache__
*.pyc
