<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Platina</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bem-vindo à Platina!</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="{{ url_for('payment.payment_checkout') }}">Pagamento</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Testando Funcionalidades de Pagamento</h2>
            <p>Esta é a página inicial para testar as opções de pagamento. Navegue até a página de pagamento para experimentar as opções disponíveis.</p>
            <a href="{{ url_for('payment.payment_checkout') }}" class="btn">Ir para Pagamento</a>
            <h2>Fazer login</h2>
            <a href="{{url_for('auth.sign_up')}}">sign up</a>
            <h2>Fazer questões</h2>
            <a href="{{url_for('quiz.quizWrite')}}">Fazer Questões</a>
        </section>
    </main>
    <footer>
        <p>© 2024 Página de Teste de Pagamento</p>
    </footer>
</body>
</html>
