<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pagamento</title>
</head>
<body>
    <h1>Selecione um Plano</h1>
    <form action="{{ url_for('payment.payment_checkout') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <select name="choosen_preference" required>
            <option value="">Selecione um plano</option>
            <option value="0">Acesso por um mês</option>
            <option value="1">Acesso por um ano</option>
            <option value="2">Acesso vitalício</option>
        </select>
        <button type="submit">Continuar para o Pagamento</button>
    </form>
</body>
</html>